 body {
     background-color: #E9DAC1;
 }

 hr {
     border-style: none;
     border-top-style: dotted;
     border-color: #E84545;
     border-width: 5px;
     width: 10%;
 }

 h1,
 h3 {
     color: #F08A5D;
 }